<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Jugadores</title>
</head>
<body>
    <main class="container">
        {{> navegacion}}
        <form action="/agregarJugador" method="post">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha de nacimiento</label>
                <input type="date" id="fecha" name="fecha" class="form-control">
            </div>
            <div class="mb-3">
                <label for="dorsal" class="form-label">Dorsal</label>
                <input type="number" id="dorsal" name="dorsal" class="form-control">
            </div>

            <div class="mb-3">
                <label for="peso" class="form-label">Peso</label>
                <input type="text" id="peso" name="peso" class="form-control">
            </div>
            <label class="form-label">Elige un Genero</label>
            <div class="form-check">
                <input type="radio" id="masculino" name="genero" class="form-check-input" value="m">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check">
                <input type="radio" id="femenino" name="genero" class="form-check-input" value="f">
                <label class="form-check-label">Femenino</label>
            </div>
            <div class="mb-3">
                <label for="posicion" class="form-label">Posicion</label>
                <input type="string" id="posicion" name="posicion" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </form>
    </main>

    <div class=" my-5">

  <footer class="text-center text-lg-start text-white" style="background-color: rgba(55, 55, 55, 0.961)">
    <!-- Grid container -->
    <div class="container p-4">
      <div><H1>Fifa</H1></div>
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contactanos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>treecko@hotmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Facebook</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Soporte tecnico</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>919 173 15 17</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>919 133 39 85</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dirección</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Calle central sur S/N Barrio Guadalupe, Ocosingo, Chiapas</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Creditos</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Sergio Amaury Montiel Torres</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Andy Garcia Gonzalez</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Jenner Alexander Gomes Hernandez</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Bernal Gamboa Barragan</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Chino Mendez Jimenez</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(62, 62, 62, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Fifa.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
</body>
</html>